*{margin:0; padding:0; outline:0;}
body{font-family:; font-size:14px; line-height:18px;}
.clear{overflow:hidden;}
.templete {
    width: 1000px;
    margin: 0 auto;
    border-top: 5px solid #4D4E49;
    border-left: 1px solid #4D4E49;
    border-right: 1px solid #4D4E49;
}
a{color:#fff; font-weight:bold; text-decoration:none;}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
/* p{margin-bottom:5px;} */

.headsection {
    background: #EAF2F4;
    border-bottom: 1px solid;
}
.headleft {
    float: left;
    width: 550px;
}
.headleft h2 {
    float: left;
    font-size: 40px;
    padding: 15px 40px 10px 20px;
    margin: 10px 0px 10px 0px;
    border-right: 1px solid #4D4E49;
}
.headleft p {
    margin: 10px 10px 10px 10px;
    padding: 12px 10px 10px 0px;
    float: left;
    font-size: 17px;
}
.headright {
    float: right;
  margin-right: 20px;
  margin-top: 17px;
}
.headright input[type="text"] {
    width: 250px;
    padding: 4px;
    background: #D5E5E8;
	border: 1px solid #D5E5D0;
}
.headright input[type="submit"] {
    padding: 4px;
    background: #D5E5E8;
	border: 1px solid #D5E5D0;
}
.menusection{
	    background: #EAF2F4;
}
.menuleft{

	  float: left;
}
.menuleft ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menuleft ul li {
    display: block;
    float: left;
    padding: 10px 20px;
    border-right: 1px solid;
    margin: 5px 0px;
    font-size: 17px;
}
.menuleft ul li:last-child{border-right:0px;}
.menuleft ul li a {
    display: block;
    color: #000;
	font-weight:normal;
}
.menuright {
    float: right;
    padding: 5px 15px;
}
.menuright p{}
.bannersection {
    background: #049BAC;
    padding: 40px 20px;
}
.bannerleft {
    float: left;
    width: 460px;
}
.bannerleft h2 {
    font-size: 40px;
    padding: 20px 0px;
    border-bottom: 1px solid;
    margin: 0px 0px 10px 0px;
	color: #fff;
}
.bannerleft p {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
}
.bannerlink {
    margin-top: 27px;
}
.banlink {
    float: left;
    margin-right: 56px;
}
.banlink a {
    color: #000;
    background: #DEDEDE;
    display: block;
    padding: 8px 30px;
    /* margin-right: 5px; */
    font-size: 23px;
    font-weight: 500;
}
.bannerright {
    float: right;
}
.bannerright img {
    border: 10px solid #EAF2F4;
}
.servicesection {
    background: #EAF2F4;
}
.allservice {
    padding: 40px 0px;
    margin: 0px 20px;
    border-bottom: 1px solid #fff;
}
.service {
    float: left;
    width: 238px;
    border: 1px solid;
}
.service h2 {
    color: #3BB0BD;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid;
    font-size: 22px;
	background:#F1F7F7;
}
.sameservice {
    padding: 0px 10px 10px 10px;
}
.sameservice h3 {
    font-size: 20px;
    padding: 15px 0px 5px 0px;
    border-bottom: 1px solid;
    margin-bottom: 5px;
}
.sameservice p {
    margin-bottom: 10px;
    font-size: 16px;
}
.sameservice a {
    float: right;
    color: #000;
    /* padding: 10px 10px 10px 10px; */
}
.contentsection {
    background: #EAF2F4;
    padding: 20px 20px;
}
.contentleft {
    float: left;
    width: 390px;
    margin-right: 50px;
}
.contentleft h2 {
    font-size: 22px;
/*     border-bottom: 1px solid; */
    padding: 10px 0px;
}
.contentleftdes {
    float: left;
    border-top: 1px solid;
    padding-top: 25px;
    padding-bottom: 20px;
}
.contentleftdesimage {
    float: left;
}
.contentleftdesimage img {
    padding: 3px;
    border: 1px solid;
}
.contentleftdestext {
    padding-left: 7px;
}
.contentleftdestext h4 {
    font-size: 16px;
    font-weight: bold;
}
.contentleftdestext p{}
.contentleftdestext a {
    float: right;
    color: #000;
    padding: 10px 0px 0px;
}
.contentright{}
.contentright h2{
	font-size: 22px;
    border-bottom: 1px solid;
    padding: 10px 0px;
}
.contentright img {
    float: left;
    padding: 5px;
    border: 1px solid;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-top: 15px;
}
.contentright h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
.contentright p {
    margin-bottom: 9px;
    font-size: 15px;
}
.footertop {
    background: #2C2C2D;
    padding: 20px 20px;
}
.footertopall {
    margin-right: -28px;
}
.footertopcontent {
    width: 300px;
    float: left;
    margin-right: 28px;
}
.footertopcontent h2 {
    font-size: 25px;
    color: #fff;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid;
    margin-bottom: 20px;
}
.footertopcontent p {
    color: #fff;
    font-size: 15px;
    margin-bottom: 10px;
}
.footertopcontent input[type="text"] {
    width: 240px;
    padding: 3px;
    margin-bottom: 10px;
}
.footertopcontent input[type="submit"] {
    padding: 3px;
}
.footertopcontent a {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 10px;
    float: left;
}
.footerbottom {
    background: #252526;
    color: #fff;
    padding: 20px 20px;
    border-top: 1px solid;
}
.footleft {
    float: left;
}
.footleft p{}
.footright {
    float: right;
}
.footright p{}
.{}
.{}
.{}
